<div class="portfolio-wrap mt-5">
  <div class="row">
    <div class="col-md-12">
      <img class="portfolio-bg" src="/assets/img/services.png" alt="">
      <div class="portfolio-text-dev">
        <span>Професійна розробка сайтів</span><br>
        <button class="btn btn-dark d-flex ml-auto mr-auto mt-2">Замовити</button>
      </div>
      <div class="portfolio-text-landing">
        <span>Створення Landing Page під ключ</span><br>
        <button class="btn btn-dark d-flex ml-auto mr-auto mt-2">Замовити</button>
      </div>
    </div>
  </div>
</div>


